@model TickettingSystem.Models.DashboardViewModel
<table style="width:100%">
    <thead>
        <tr>
            <th class="round-1">User Id</th>
            <th>Name</th>
            <th>Email</th>
            <th>Referred by</th>
            <th>Joined On</th>
            <th class="round-2">KYC Level</th>
            <th></th>
        </tr>
    </thead>

    <tbody style="height:150px; width:inherit; overflow:auto;">
        @if (Model.StaffList.Count < 1)
        {
            <p>No Users Found for that Search Criteria</p>
        }
        else
        {
            foreach (var staff in Model.StaffList)
            {
                <tr class="staffDataRow">
                    <td>@staff.Id</td>
                    <td>@staff.Name</td>
                    <td>@staff.Email</td>
                    <td>@staff.ReferredBy</td>
                    <td>@staff.JoinedOn.ToString("dd/MM/yyyy")</td>
                    <td>@staff.KycLevel</td>
                    <td>      <a href="#" class="note-btn" data-toggle="modal" data-target="#updateStaffPasswordModal">Pwd</a></td>
                    @*<td><input type="button" value="Change Password" id="btnChangeStaffPassword" data-connected=false onclick="changeStaffPassword(this)" /></td>*@
                </tr>
            }
        }


    </tbody>

</table>