@model TickettingSystem.Models.DashboardViewModel
@using  TickettingSystem.DTOs;
@{
    Layout = null;
    ViewData["Title"] = "Dashboard";
}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Title Here</title>

    <link href="~/assets/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/assets/css/fontawesome.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i&display=swap" rel="stylesheet">
    <link href="~/assets/css/style.css" rel="stylesheet">
    <link href="~/assets/css/responsive.css" rel="stylesheet">

</head>
<body>

    <div class="section-padding">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="custom-tab">
                        <ul class="tab-list">
                            <li class="active"><a data-toggle="tab" href="#custom-tab-1">Dashboard</a></li>
                            <li><a data-toggle="tab" href="#custom-tab-2">Client</a></li>
                            <li><a data-toggle="tab" href="#custom-tab-3">Trades</a></li>
                            <li><a data-toggle="tab" href="#custom-tab-4">Exchanges</a></li>
                            <li><a data-toggle="tab" href="#custom-tab-5">Memberships</a></li>
                            <li><a data-toggle="tab" href="#custom-tab-6">Tickets</a></li>
                            <li><a data-toggle="tab" href="#custom-tab-7">Staff</a></li>
                        </ul>

                        <div class="tab-content">
                            <div id="custom-tab-1" class="tab-pane fade in active">

                            </div>
                            <div id="custom-tab-2" class="tab-pane fade">
                                <div class="search-option">
                                    <input type="text" id="txtSearchClients" name="txtSearchClients" placeholder="Search for client">
                                    <input type="submit" value="Search" id="btnSearchClients">
                                    <a href="#" class="btn" id="btnCancelClientSearch">Cancel</a><span class="glyphicon glyphicon-search hp-search" aria-hidden="true"></span>
                                </div>

                                <div class="data-table-section" id="clientTableDiv">
                                    @*<table id="tblClients" style="width:100%">
                                            <tr>
                                                <th class="round-1">User Id</th>
                                                <th>Name</th>
                                                <th>Email</th>
                                                <th>Referred by</th>
                                                <th>Joined On</th>
                                                <th class="round-2">KYC Level</th>
                                            </tr>

                                            @foreach (var client in ViewBag.AllClients as List<ClientDTO>)
                                            {
                                                <tr class="clientDataRow">
                                                    <td>@client.ID</td>
                                                    <td>@client.Name</td>
                                                    <td>@client.Email</td>
                                                    <td>@client.ReferredBy</td>
                                                    <td>@client.JoinedDate.ToString("MM/dd/yyyy")</td>
                                                    <td>@client.KycLevel</td>
                                                </tr>
                                            }
                                        </table>*@
                                    @{await Html.RenderPartialAsync("_ClientListPartial", Model);}
                                </div>

                                <div style="height: 40px;"></div>

                                <div class="data-form-section">
                                    <form action="#">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="row">
                                                    @Html.Hidden("hiddenClientID")
                                                    <div class="col-sm-6">
                                                        <div class="single-form-opt">
                                                            <label for="name">Name</label>
                                                            <input type="text" id="txtClientName" readonly>
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-6">
                                                        <div class="single-form-opt">
                                                            <label for="name">Surname</label>
                                                            <input type="text" id="txtClientSurname" readonly>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-12">
                                                        <div class="single-form-opt">
                                                            <label class="address" for="address">Address</label>
                                                            <input type="address" id="txtClientAddressLine1">
                                                        </div>
                                                        <div class="single-form-opt">
                                                            <label class="address" for="address"></label>
                                                            <input type="address" id="txtClientAddressLine2">
                                                        </div>
                                                        <div class="single-form-opt">
                                                            <label class="address" for="address"></label>
                                                            <input type="address" id="txtClientAddressLine3">
                                                        </div>
                                                        <div class="single-form-opt">
                                                            <label class="address" for="address"></label>
                                                            <input type="address" id="txtClientAddressLine4">
                                                        </div>
                                                    </div>

                                                    <div class="col-sm-6">
                                                        <div class="single-form-opt">
                                                            <label for="name">Nationality</label>
                                                            @*<select id="txtClientNationailty">
                                                                    <option value="German">German</option>
                                                                    <option value="French">French</option>
                                                                </select>*@
                                                            <input type="text" id="txtClientNationailty">
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-6">
                                                        <div class="single-form-opt">
                                                            <label for="name">Language</label>
                                                            <input type="text" id="txtClientLanguage">
                                                        </div>
                                                    </div>

                                                    <div class="col-sm-6">
                                                        <div class="single-form-opt">
                                                            <label for="name">DOB</label>
                                                            <input type="date" id="txtClientDOB">
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-6">
                                                        <div class="single-form-opt">
                                                            <label for="name">Reffered by</label>
                                                            <input type="text" id="txtClientReferedBy" readonly>
                                                        </div>
                                                    </div>

                                                    <div class="col-sm-6">
                                                        <div class="single-form-opt">
                                                            <label for="name">Joined on</label>
                                                            <input type="date" id="txtClientJoinedOn" readonly>
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-6">
                                                        <div class="single-form-opt">
                                                            <label for="name">Ref URL</label>
                                                            <input type="text" id="txtClientRefUrl" readonly>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="row">
                                                    <div class="col-sm-6">
                                                        <div class="single-form-opt">
                                                            <label for="user">User id</label>
                                                            <input type="text" id="txtClientUserId" readonly>
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-6">
                                                        <div class="single-form-opt">
                                                            <label for="email">Email Address</label>
                                                            <input type="email" id="txtClientEmail" readonly>
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-6">
                                                        <div class="single-form-opt">
                                                            <label for="level">KYC Level</label>
                                                            <input type="text" id="txtClientKycLevel" readonly>
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-6">
                                                        <div class="single-form-opt">
                                                            <label for="date">Date</label>
                                                            <input type="date" id="txtClientDate" readonly>
                                                        </div>
                                                    </div>

                                                    <div class="col-md-12">
                                                        <h3 class="heading-note">Notes</h3>
                                                        <div class="notes">
                                                            <p data-toggle="popover" data-placement="top" data-content="Full Notes go here. Ask me why it should go in here and I will ask you why it shouldn't. Not all issues deseve questions and not all questions deserve answers. Tainkyu">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                                                            <p data-toggle="popover" data-placement="top" data-content="Full Notes go here. Ask me why it should go in here and I will ask you why it shouldn't. Not all issues deseve questions and not all questions deserve answers. Tainkyu">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                                                            @*<p ondblclick="popNote(this)" data-toggle="popover" data-trigger="focus" data-placement="top" data-content="Full Notes go here. Ask me why it should go in here and I will ask you why it shouldn't. Not all issues deseve questions and not all questions deserve answers. Tainkyu">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>*@
                                                            <p data-toggle="popover" data-placement="top" data-content="Full Notes go here. Ask me why it should go in here and I will ask you why it shouldn't. Not all issues deseve questions and not all questions deserve answers. Tainkyu">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                                                            <p data-toggle="popover" data-placement="top" data-content="Full Notes go here. Ask me why it should go in here and I will ask you why it shouldn't. Not all issues deseve questions and not all questions deserve answers. Tainkyu">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                                                            <p data-toggle="popover" data-placement="top" data-content="Full Notes go here. Ask me why it should go in here and I will ask you why it shouldn't. Not all issues deseve questions and not all questions deserve answers. Tainkyu">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                                                            <a href="#" class="note-btn" data-toggle="modal" data-target="#addNoteModal">+ Add New Note</a>
                                                            @*<button type="button" class="note-btn" data-toggle="modal" data-target="#addNoteModal">+ Add New Note</button>*@
                                                            <!-- Modal -->
                                                            <div class="modal fade" id="addNoteModal" role="dialog">
                                                                <div class="modal-dialog">

                                                                    <!-- Modal content-->
                                                                    <div class="modal-content">
                                                                        <div class="modal-header">
                                                                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                                                                            <h4 class="modal-title">Add a new Note</h4>
                                                                        </div>
                                                                        <div class="modal-body">
                                                                            <div class="single-form-opt">
                                                                                <label class="address">Notes</label>
                                                                                <textarea type="text" class="form-control" id="txtNewNote"></textarea>
                                                                            </div>


                                                                        </div>
                                                                        <div class="modal-footer">
                                                                            <div>
                                                                                <button type="button" id="btnAddNote" class="btn btn-success col-lg-6 col-lg-offset-4">OK</button>
                                                                            </div>
                                                                            <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
                                                                        </div>
                                                                    </div>

                                                                </div>
                                                            </div>

                                                        </div>
                                                        <div class="finally-btn">
                                                            <a href="#" class="reset-btn btn" id="btnResetClientPassword">Reset Pwd</a>
                                                            <a href="#" class="update-btn btn" id="btnUpdateClient">Update</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                            <div id="custom-tab-3" class="tab-pane fade">

                                <div class="data-table-section">
                                    @{await Html.RenderPartialAsync("_TradeListPartial", Model);}
                                </div>

                                <div class="data-form-section trade-form">
                                    <form action="#">
                                        <div class="trades-form-sec">
                                            <div class="row">
                                                <div class="col-md-3 col-sm-6">
                                                    <div class="single-trade-form-opt">
                                                        <label for="">User Id</label>
                                                        <input id="srchUserId" type="text">
                                                    </div>
                                                </div>
                                                <div class="col-md-3 col-sm-6">
                                                    <div class="single-trade-form-opt">
                                                        <label for="">Date From</label>
                                                        <input id="tradeFromDate" type="date">
                                                    </div>
                                                </div>
                                                <div class="col-md-3 col-sm-6">
                                                    <div class="single-trade-form-opt">
                                                        <label for="">Date To</label>
                                                        <input id="tradeToDate" type="date">
                                                    </div>
                                                </div>
                                                <div class="col-md-3 col-sm-6">
                                                    <div class="single-trade-form-opt">
                                                        <label for="">Exchange</label>
                                                        <input id="tradeSrExch" type="text">
                                                    </div>
                                                </div>
                                                <div class="col-md-3 col-sm-6">
                                                    <div class="single-trade-form-opt">
                                                        <label for="">Curr Pair</label>
                                                        <input type="text">
                                                        <input id="btnSearchTrades" type="submit" value="Search">

                                                        <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                                <div class="data-table-section">
                                    <table  id="tbTradeSearchResult" style="width:100%">
                                        <tr>
                                            <th class="round-1">Date time</th>
                                            <th>Exchange</th>
                                            <th>Operation</th>
                                            <th>Price</th>
                                            <th>Arbitrage</th>
                                            <th class="round-2">Social</th>
                                        </tr>
                                        @*<tr>
                                            <td class="round-3">10/12/2018</td>
                                            <td>Lorem ipsum dolor sit amet.</td>
                                            <td>Bye/Sell/Transfer</td>
                                            <td>$100</td>
                                            <td>Yes/No</td>
                                            <td class="round-4">Yes/No</td>
                                        </tr>*@
                                    </table>
                                </div>
                                <div class="trade-seceond-form">
                                    <form action="#">
                                        <div class="col-md-7">
                                            <label for="id">Transaction ID</label>
                                            <input type="text">
                                            <div class="walet">
                                                <label for="">Wallet From</label>
                                                <input type="count">
                                                <label style="margin-left: 35px;" for="">Wallet To</label>
                                                <input type="count">
                                            </div>
                                            <input type="submit" value="Send">
                                            <input style="background: #EB5757; border: 1px solid #EB5757; margin-left: 30px;" type="submit" value="Cancel">
                                        </div>
                                    </form>
                                </div>
                            </div>
                            <div id="custom-tab-4" class="tab-pane fade">
                                <div class="search-option">
                                    <input type="text" placeholder="Search for client">
                                    <input type="submit" value="Search">
                                    <a href="" class="btn">Cancel</a><span class="glyphicon glyphicon-search hp-search" aria-hidden="true"></span>
                                </div>

                                <div class="data-table-section">
                                    @{await Html.RenderPartialAsync("_ExchangeListPartial", Model);}
                                </div>

                                <div style="height: 20px;"></div>
                            </div>
                            <div id="custom-tab-5" class="tab-pane fade">
                                <div class="membership-heading">
                                    <h2>Available Membership packages</h2>
                                </div>

                                <div class="data-table-section">
                                    <table style="width:100%">
                                        <tr>
                                            <th class="round-1">Membership name</th>
                                            <th>Enabled</th>
                                            <th>Description</th>
                                            <th>Start Date</th>
                                            <th>End Date</th>
                                            <th class="round-2">Price</th>
                                        </tr>
                                        <tr>
                                            <td>Mr Adam Smith</td>
                                            <td>10/12/2018</td>
                                            <td>Lorem ipsum dolor sit amet.</td>
                                            <td>10/02/2019</td>
                                            <td>10/02/2019</td>
                                            <td>$100</td>
                                        </tr>
                                        <tr>
                                            <td>Mr Adam Smith</td>
                                            <td>10/12/2018</td>
                                            <td>Lorem ipsum dolor sit amet.</td>
                                            <td>10/02/2019</td>
                                            <td>10/02/2019</td>
                                            <td>$100</td>
                                        </tr>
                                        <tr>
                                            <td>Mr Adam Smith</td>
                                            <td>10/12/2018</td>
                                            <td>Lorem ipsum dolor sit amet.</td>
                                            <td>10/02/2019</td>
                                            <td>10/02/2019</td>
                                            <td>$100</td>
                                        </tr>
                                        <tr>
                                            <td class="round-3">Mr Adam Smith</td>
                                            <td>10/12/2018</td>
                                            <td>Lorem ipsum dolor sit amet.</td>
                                            <td>10/02/2019</td>
                                            <td>10/02/2019</td>
                                            <td class="round-4">$100</td>
                                        </tr>
                                    </table>
                                </div>
                                <div class="membership-heading">
                                    <h2>Membership packages Purchased</h2>
                                </div>

                                <div class="data-table-section">
                                    <table style="width:100%">
                                        <tr>
                                            <th class="round-1">Membership name</th>
                                            <th>Enabled</th>
                                            <th>Description</th>
                                            <th>Purchased on</th>
                                            <th>Played</th>
                                            <th class="round-2">Currency</th>
                                        </tr>
                                        <tr>
                                            <td>Mr Adam Smith</td>
                                            <td>10/12/2018</td>
                                            <td>Lorem ipsum dolor sit amet.</td>
                                            <td>10/02/2019</td>
                                            <td>10/02/2019</td>
                                            <td>Dollar</td>
                                        </tr>
                                        <tr>
                                            <td>Mr Adam Smith</td>
                                            <td>10/12/2018</td>
                                            <td>Lorem ipsum dolor sit amet.</td>
                                            <td>10/02/2019</td>
                                            <td>10/02/2019</td>
                                            <td>Dollar</td>
                                        </tr>
                                        <tr>
                                            <td>Mr Adam Smith</td>
                                            <td>10/12/2018</td>
                                            <td>Lorem ipsum dolor sit amet.</td>
                                            <td>10/02/2019</td>
                                            <td>10/02/2019</td>
                                            <td>Dollar</td>
                                        </tr>
                                        <tr>
                                            <td>Mr Adam Smith</td>
                                            <td>10/12/2018</td>
                                            <td>Lorem ipsum dolor sit amet.</td>
                                            <td>10/02/2019</td>
                                            <td>10/02/2019</td>
                                            <td>Dollar</td>
                                        </tr>
                                        <tr>
                                            <td>Mr Adam Smith</td>
                                            <td>10/12/2018</td>
                                            <td>Lorem ipsum dolor sit amet.</td>
                                            <td>10/02/2019</td>
                                            <td>10/02/2019</td>
                                            <td>Dollar</td>
                                        </tr>
                                        <tr>
                                            <td>Mr Adam Smith</td>
                                            <td>10/12/2018</td>
                                            <td>Lorem ipsum dolor sit amet.</td>
                                            <td>10/02/2019</td>
                                            <td>10/02/2019</td>
                                            <td>Dollar</td>
                                        </tr>
                                        <tr>
                                            <td class="round-3">Mr Adam Smith</td>
                                            <td>10/12/2018</td>
                                            <td>Lorem ipsum dolor sit amet.</td>
                                            <td>10/02/2019</td>
                                            <td>10/02/2019</td>
                                            <td class="round-4">Dollar</td>
                                        </tr>
                                    </table>
                                </div>


                            </div>
                            <div id="custom-tab-6" class="tab-pane fade">
                                <div class="search-option">
                                    <input type="text" placeholder="Search for client">
                                    <input type="submit" value="Search">
                                    <a href="" class="btn">Cancel</a>
                                    <span class="glyphicon glyphicon-search hp-search" aria-hidden="true"></span>
                                </div>

                                <div class="data-table-section">
                                    <table style="width:100%">
                                        <tr>
                                            <th class="round-1">Client Name</th>
                                            <th>Enabled</th>
                                            <th>Description</th>
                                            <th class="round-2">Price</th>
                                        </tr>
                                        <tr>
                                            <td>Mr Jhon Willson</td>
                                            <td>10/12/18</td>
                                            <td>Lorem ipsum dolor sit amet.</td>
                                            <td>$100</td>
                                        </tr>
                                        <tr>
                                            <td>Mr Jhon Willson</td>
                                            <td>10/12/18</td>
                                            <td>Lorem ipsum dolor sit amet.</td>
                                            <td>$100</td>
                                        </tr>
                                        <tr>
                                            <td class="round-3">Mr Jhon Willson</td>
                                            <td>10/12/18</td>
                                            <td>Lorem ipsum dolor sit amet.</td>
                                            <td class="round-4">$100</td>
                                        </tr>
                                    </table>
                                </div>

                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="ticket">
                                            <h3>Tickets</h3>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-3">
                                        <div class="single-ticket-box-item">
                                            <div class="single-ticket-box-tablecell">
                                                <h3>Ticket</h3>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-3">
                                        <div class="single-ticket-box-item">
                                            <div class="single-ticket-box-tablecell">
                                                <h3>Ticket</h3>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-3">
                                        <div class="single-ticket-box-item">
                                            <div class="single-ticket-box-tablecell">
                                                <h3>Ticket</h3>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-3">
                                        <div class="single-ticket-box-item">
                                            <div class="single-ticket-box-tablecell">
                                                <h3>Ticket</h3>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div style="height: 20px;"></div>
                                <div class="row">
                                    <div class="col-sm-3">
                                        <div class="single-ticket-box-item">
                                            <div class="single-ticket-box-tablecell">
                                                <h3>Ticket</h3>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-3">
                                        <div class="single-ticket-box-item">
                                            <div class="single-ticket-box-tablecell">
                                                <h3>Ticket</h3>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-3">
                                        <div class="single-ticket-box-item">
                                            <div class="single-ticket-box-tablecell">
                                                <h3>Ticket</h3>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-3">
                                        <div class="single-ticket-box-item">
                                            <div class="single-ticket-box-tablecell">
                                                <h3>Ticket</h3>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div style="height: 40px;"></div>

                                <div class="data-form-section">
                                    <form action="#">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <h3 class="heading-note">Client</h3>
                                                <div class="client-comment">
                                                    <div class="single-comment">
                                                        <p>Lorem ipsum dolor sit amet onsectetur adipisicing elit, sed do eiusmod.</p>
                                                    </div>
                                                    <div class="single-comment">
                                                        <p>Lorem ipsum dolor sit amet onsectetur adipisicing elit, sed do eiusmod.</p>
                                                        <p class="somoy">Aug 27, 2018 <span>11:08 AM</span></p>
                                                    </div>
                                                    <div class="single-comment">
                                                        <p>Lorem ipsum dolor sit amet onsectetur adipisicing elit, sed do eiusmod.</p>
                                                        <p class="somoy">Aug 27, 2018 <span>11:08 AM</span></p>
                                                    </div>
                                                    <div style="margin-bottom: 0;" class="single-comment">
                                                        <p>Lorem ipsum dolor sit amet onsectetur adipisicing elit, sed do eiusmod.</p>
                                                        <p class="somoy">Aug 27, 2018 <span>11:08 AM</span></p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <h3 class="heading-note">Notes</h3>
                                                <div class="notes">
                                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                                                    <a href="" class="note-btn">+ Add New Note</a>
                                                </div>

                                                <div class="ticket-assign">
                                                    <div class="single-form-opt tck">
                                                        <label for="level">Assigned to</label>
                                                        <input type="text">
                                                    </div>
                                                    <div class="single-form-opt tck">
                                                        <label for="date">Re-Assign</label>
                                                        <input type="text">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div style="height: 40px;"></div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <h3 class="heading-note">Staff</h3>
                                                <div class="client-comment">
                                                    <div class="single-comment">
                                                        <p>Lorem ipsum dolor sit amet onsectetur adipisicing elit, sed do eiusmod.</p>
                                                    </div>
                                                    <div class="single-comment">
                                                        <p>Lorem ipsum dolor sit amet onsectetur adipisicing elit, sed do eiusmod.</p>
                                                        <p class="somoy">Aug 27, 2018 <span>11:08 AM</span></p>
                                                    </div>
                                                    <div class="single-comment">
                                                        <p>Lorem ipsum dolor sit amet onsectetur adipisicing elit, sed do eiusmod.</p>
                                                        <p class="somoy">Aug 27, 2018 <span>11:08 AM</span></p>
                                                    </div>
                                                    <div style="margin-bottom: 0;" class="single-comment">
                                                        <p>Lorem ipsum dolor sit amet onsectetur adipisicing elit, sed do eiusmod.</p>
                                                        <p class="somoy">Aug 27, 2018 <span>11:08 AM</span></p>
                                                    </div>
                                                </div>
                                                <div class="custom-ticket-btn">
                                                    <a href="" class="btn response-btn">Send Response</a>
                                                    <a href="" class="btn close-btn">Close Ticket</a>
                                                    <a href="" class="btn update-btn">Update</a>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                            <div id="custom-tab-7" class="tab-pane fade">
                                <div class="search-option">
                                    <input type="text" placeholder="Search for client">
                                    <input type="submit" value="Search">
                                    <a href="" class="btn">Cancel</a>
                                    <span class="glyphicon glyphicon-search hp-search" aria-hidden="true"></span>
                                </div>

                                <div class="data-table-section">
                                    <table style="width:100%">
                                        <tr>
                                            <th class="round-1">User Id</th>
                                            <th>Name</th>
                                            <th>Email</th>
                                            <th>Referred by</th>
                                            <th>Joined On</th>
                                            <th class="round-2">KYC Level</th>
                                        </tr>
                                        <tr>
                                            <td>10</td>
                                            <td>Jhon Doe Wills</td>
                                            <td>exampleemail@gmail.com</td>
                                            <td>Mr Will Smith jr</td>
                                            <td>10/12/2018</td>
                                            <td>Primary</td>
                                        </tr>
                                        <tr>
                                            <td>10</td>
                                            <td>Jhon Doe Wills</td>
                                            <td>exampleemail@gmail.com</td>
                                            <td>Mr Will Smith jr</td>
                                            <td>10/12/2018</td>
                                            <td>Primary</td>
                                        </tr>
                                        <tr>
                                            <td class="round-3">10</td>
                                            <td>Jhon Doe Wills</td>
                                            <td>exampleemail@gmail.com</td>
                                            <td>Mr Will Smith jr</td>
                                            <td>10/12/2018</td>
                                            <td class="round-4">Primary</td>
                                        </tr>
                                    </table>
                                </div>

                                <div style="height: 40px;"></div>

                                <div class="data-form-section">
                                    <form action="#">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="row">
                                                    <div class="col-sm-6">
                                                        <div class="single-form-opt">
                                                            <label for="name">Name</label>
                                                            <input type="text">
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-6">
                                                        <div class="single-form-opt">
                                                            <label for="name">Surname</label>
                                                            <input type="text">
                                                        </div>
                                                    </div>
                                                    <div class="col-md-12">
                                                        <div class="single-form-opt">
                                                            <label class="address" for="address">Address</label>
                                                            <input type="address">
                                                        </div>
                                                        <div class="single-form-opt">
                                                            <label class="address" for="address"></label>
                                                            <input type="address">
                                                        </div>
                                                        <div class="single-form-opt">
                                                            <label class="address" for="address"></label>
                                                            <input type="address">
                                                        </div>
                                                        <div class="single-form-opt">
                                                            <label class="address" for="address"></label>
                                                            <input type="address">
                                                        </div>
                                                    </div>

                                                    <div class="col-md-12 col-sm-6">
                                                        <div class="single-form-opt single-form-opt-staff">
                                                            <label for="name">Nationality</label>
                                                            <input type="text">
                                                        </div>
                                                    </div>
                                                    <div class="col-md-12 col-sm-6">
                                                        <div class="single-form-opt single-form-opt-staff">
                                                            <label for="name">DOB</label>
                                                            <input type="text">
                                                        </div>
                                                    </div>

                                                    <div class="col-sm-6">
                                                        <div class="single-form-opt">
                                                            <label for="name">Hired On</label>
                                                            <input type="text">
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-6">
                                                        <div class="single-form-opt">
                                                            <label for="name">Fired On</label>
                                                            <input type="text">
                                                        </div>
                                                    </div>

                                                    <div class="col-sm-6">
                                                        <div class="single-form-opt">
                                                            <label for="name">Hired By</label>
                                                            <input type="text">
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-6">
                                                        <div class="single-form-opt">
                                                            <label for="name">Resigned On</label>
                                                            <input type="text">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="row">
                                                    <div class="col-sm-6">
                                                        <div class="single-form-opt">
                                                            <label for="user">Department</label>
                                                            <input type="text">
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-6">
                                                        <div class="single-form-opt">
                                                            <label for="text">Manager</label>
                                                            <input type="text">
                                                        </div>
                                                    </div>

                                                    <div class="col-md-12 staff-note">
                                                        <h3 class="heading-note">Notes</h3>
                                                        <div class="notes">
                                                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                                                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                                                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                                                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                                                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                                                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                                                            <a href="" class="note-btn">+ Add New Note</a>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-sm-6">
                                                                <div class="sa-left">
                                                                    <h3>Territory</h3>
                                                                    <div class="sa-left-content">
                                                                        <span>Territory 1</span>
                                                                        <span>Territory 1</span>
                                                                        <span>Territory 1</span>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="col-sm-6">
                                                                <div class="sa-right">
                                                                    <h3>Languages</h3>
                                                                    <div class="sa-right-content">
                                                                        <span>Languages 1</span>
                                                                        <span>Languages 1</span>
                                                                        <span>Languages 1</span>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="finally-btn">
                                                            <a href="" style="background: #55C1FF;" class="reset-btn btn">New</a>
                                                            <a href="" style="background: #6FCF97;" class="update-btn btn">Update</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="~/assets/js/jquery.min.js"></script>
    <script src="~/assets/js/bootstrap.min.js"></script>
    <script src="~/assets/js/main.js"></script>


</body>
</html>

<script src="~/assets/js/Client.js"></script>


